* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat, Fraunces;
    display: flex;
    justify-content: center;
    margin: 5%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 380px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    border-radius: 16px;
}

#img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#product {
    padding: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: hsl(228, 12%, 48%);
    font-size: 1em;
}

h1 {
    padding: 0 24px;
    font-family: Fraunces;
}

#description {
    padding: 24px;
    color: hsl(228, 12%, 44%);
    font-size: 1em;
}