* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    font-family: Montserrat, Fraunces;
    display: flex;
    justify-content: center;
    margin: 0 5%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 380px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 40px;
    border-radius: 16px;
}

#img {
    width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

#product {
    margin: 24px;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    color: hsl(228, 12%, 48%);
    font-size: 1em;
}

h1 {
    margin: 0 24px;
    font-family: Fraunces;
}

#description {
    margin: 24px;
    color: hsl(228, 12%, 44%);
    font-size: 1em;
}

#prices {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Fraunces;
}

#mainPrice {
    color: hsl(158, 36%, 37%);
    font-size: 2.5em;
    font-weight: 700;
    margin: 0 24px;
}

#formerPrice {
    color: hsl(228, 12%, 44%);
    text-decoration: line-through;
}

#addCart {
    margin: 24px;
    background-color: hsl(158, 36%, 37%);
    color: white;
    padding: 20px 8px;
    border-radius: 16px;
    border: none;
    font-size: 1em;
    font-weight: 500;
    width: 332px;
}

#addCart img {
    margin-right: 8px;
}

#addCart:hover {
    background-color: hsl(158, 36%, 22%);
}